@use "../../styles/partials/global" as *;

.header{
    background-color: $primary-color;
    color:white;
    display: flex;
    justify-content: center;
    position:relative;

    &__container{
        width:100%;
        max-width: 64rem;
        margin:20px 0px 100px 0px;
    }

    &__list{
        display:flex;
        gap:2.5rem;
        margin-bottom:3.125rem;

        &--item{
            display:flex;
            align-items: center;
            gap:0.625rem;
            cursor:pointer
        }

        &--item.active{
            border: 1px solid white;
            padding:0.625rem;
            border-radius:1.25rem;
        }
    }

    &__description{
        margin:1.25rem 0rem;
    }

    &__button{
        background-color:$button-color;
        color:white;
        font: weight 500;
        border:none;
        padding:10px;
        cursor: pointer;

    }

    &__search{
        height:50px;
        background-color: white;
        border: 3px solid $button-border;
        display:flex;
        align-items: center;
        justify-content: space-around;
        padding:10px 0px;
        border-radius:5px;
        position: absolute;
        bottom:-25px;
        width:100%;
        max-width:1024px;

        &__item{
            display:flex;
            align-items: center;
            gap:10px;

            &--input{
                border:none;
                outline:none;
            }
        }

        &__text{
            color:lightgray;
            cursor: pointer;
        }
    }

    &__icons{
        color: lightgray;
    }

    &__date{
        position:absolute;
        top:50px;
    }
}