$primary-color:#003580;
$button-color:#0071c2;
$primary-white:#FFFFFF;
$primary-silver:#AFAFAF;
$button-border:#febb02;
$secondary-silver:#E1E1E1;
$secondary-white:#FAFAFA;
$button-hover:#0065AD;

$tablet-breakpoint:48rem;

$desktop-breakpoint:64rem;